<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Se esta Trabajando en la pagina</h5>
    <p class="card-text">Solo esta disponible el catalogo</p>
    <a href="/category" class="btn btn-primary">Catalogo</a>
  </div>
 
</div>





