{{>image_slider}}

<div class="container-fluid p-4 custom-border container-button">

    <div class="center">


        <a href="/category/sony">
            <img src="./image/botones/ps4icon.jpg" class="image-button">
        </a>

        <a href="/category/nintendo">
            <img src="./image/botones/nintendo-switch.png" class="image-button">
        </a>

        <a href="/category/xbox">
            <img src="./image/botones/xbox_one_category.png" class="image-button">
        </a>

    </div>

</div>



