
body{
    background-image: url('../background.jpg');
    }

.padding{
    padding:  5% 5% 5% 5%;
}
.logo{
    width: 50%;
}
.text-medium-size{
    font-size: 20px;
}
.li-padding{
    margin: 0 0 3px 5px;

}


.container-button {
    height: 200px;
    position: relative;
    
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  

  .image-button{
    border: 3px solid black;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin: 30px;
  }

  .base{
      align-items: center;
      margin-bottom: 20px;
  }

  .base h4{
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .base img{
      margin-bottom: 20px;
  }

  .base p{
      font-size: 20px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .margin-right{
      margin-right: 10px;
  }

  .navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */
.color_blanco{
    color: white;
}

.muestra{
    margin: 20px 0;
}
.muestra img{
    padding: 10px;
    border: 2px solid black;
}


