<main class="container p-4">
    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Agregar Producto</h3>
            </div>
            <div class="card-body">
                <form action="/product/best" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Nombre" autofocus
                            autocomplete="off" required>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
                        <select required class="form-select" id="inputGroupSelect01" name="category">
                            <option></option>
                            <option value="descuentos">Descuentos</option>
                            <option value="ofertas">Ofertas</option>
                            <option value="exclusividades">Exclusividades</option>
                            <option value="promociones">promociones</option>
                        </select>
                    </div>
                    
                    <div class="form-group">

                        <div class="form-group">
                            <input type="text" name="title_id" class="form-control" placeholder="identificador nombre" autofocus
                                autocomplete="off" required>
                        </div>
                       
                        <div class="input-group mb-3">
                            <input type="file" name="image" class="form-control" id="image"  accept="image/*" onchange="previewImage();" required>
                        </div>
                        <div class="form-group">
                            <img id="preview" src="/logo.png"  width="200dp" height="250dp">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Subir Producto</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    </main>